/* src/App.css */
.App {
  text-align: center; /* Centers the header text */
  background-color: #f844b0; /* Sets the background color for the whole app */
}

header {
  padding: 10px 0; /* Reduced padding */
  font-size: 24px;
  color: #fff;
  background-color: #f844b0;
  position: fixed; /* Makes the header stay at the top */
  width: 100%;
  top: 0;
  left: 0;
}

/* Styles for the canvas container */
.canvas-container {
  margin-top: 60px; /* Adjust this to change the space below the header */
  width: 100%;
  height: calc(100vh - 60px); /* Adjust height based on the header size */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive canvas styles */
@media (max-width: 768px) {
  .canvas-container {
    height: calc(50vh - 60px); /* Smaller height on mobile */
  }
}

/* Larger canvas on desktop */
@media (min-width: 1024px) {
  .canvas-container {
    height: calc(80vh - 60px); /* Larger height on desktop */
  }
}

/* App.css */
.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  border: 2px solid white; /* White border */
  background-color: #f844b0; /* Pink background */
  color: white; /* White text */
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.nav-link:hover, .nav-link.active {
  background-color: white; /* White background for active/hover state */
  color: #f844b0; /* Pink text for active/hover state */
}
